*{
    background-color: black;
}

.heading{
    font-size: 4rem;
    color: goldenrod;
    font-family:'Bebas Neue', cursive;
}

.gallery{
    flex-basis: 50%;
    display: grid;
    gap: 8px;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 120px;
}

.box{
    position: relative;
    background-size: cover;
    background-position: top;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #222;
    background-blend-mode: hard-light;
    transition: all 1s ease-in-out;
    cursor: pointer;
    width: 300px;
    height: 200px;
    border-radius: 8px;
}

.row2{
    grid-row: span 2;
}


.box:hover{
    /* background-color: #999; */
    background-color: #747171;
    background-position: center;
    box-shadow: 0 0 4px #fff;
    font-size: 1.7rem;
}

.mail{
    position: relative;
    top: -125px;
    left: 29px;
}

.github{
    position: relative;
    top: 0px;
    left: 100px;
}

.linkedin{
    position: relative;
    left: 400px;
    top: 130px;
}