*{
    background-color: black;
}

.heading{
    font-size: 5rem;
    font-family: 'Bebas Neue', cursive;
    position: relative;
    left: 60px;
    color: goldenrod;

}

.skillname{
    position: relative;
    left: 120px;
    color: aliceblue;
}